* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.filters {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: solid 2px lightgray;
  height: 463px;
  background-color: rgb(242, 242, 242);
  overflow: hidden;
  transition: all 0.75s;
}

.filters-disabled {
  height: 34px;
  transition: all 0.75s;
}

.basic-visualization {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: calc(100% - 40px);
  border-radius: 3px;
  border: solid 2px lightgray;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-visualization__duration-container {
  width: 35%;
  height: 100%;
  border-right: solid 2px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic-visualization__histogram {
  height: 100%;
  width: 100%;
}

.basic-visualization__customization-container {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basic-visualization__severity-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters-title-container {
  display: flex;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  height: 30px;
  cursor: pointer;
  transition: 0.4s;
}

.filters-title-container:hover {
  background-color: rgb(185, 185, 185);
}
.filters-apply-button-container {
  display: flex;
  align-items: center;
  background-color: lightgray;
  width: 100%;
  height: 30px;
}

.filters-title {
  font-size: 16px;
  margin-left: 20px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 3px;
}

.filters-title--right {
  font-size: 16px;
  margin-left: 20px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: 20px;
  transition: all 0.5s;
}

.filters-apply-button {
  margin-right: 10px;
  margin-left: auto;
  margin-top: 1px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
  display: inline-block;
  padding: 0.4em 1em;
  border: 0.1em solid #3e65b3;
  border-radius: 0.38em;
  background-image: linear-gradient(#62a6ed, #4b78d6);
  cursor: pointer;
}
.filters-apply-button:hover {
  background-image: linear-gradient(rgb(26, 175, 238), rgb(4, 132, 217));
}
.filters-apply-button:active {
  background-image: linear-gradient(rgb(3, 155, 218), rgb(3, 110, 197));
}

.filters-conditional-container {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-type-container--states {
  display: flex;
  align-items: center;
  height: 100px;
}

.filters-states {
  height: 80px;
  overflow-y: auto;
}

.filters-categorical-container {
  justify-content: baseline !important;
}

.filters-conditional-item {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.filters-conditional-item--states {
  width: 18%;
  text-overflow: ellipsis;
}

.filter-label {
  margin-left: 5px;
  font-size: 14px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filter-type-container {
  display: flex;
  align-items: center;
}
.filter-type-title {
  font-size: 15px;
  width: 150px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
}
.geographical-visualization-container {
  border: solid 2px lightgray;
  border-radius: 3px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
}

.u-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.geo-map-separator {
  min-height: 100%;
  border-right: solid 2px lightgray;
  width: 10px;
}

.separator {
  border-bottom: solid 1px lightgray;
  width: 100%;
}

.toolTip {
  position: relative;
  display: none;
  height: auto;
  background: transparent;
  padding: 0px;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.labels {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightgray;
}

/* Charts */

.chart-title {
  width: 100%;
  min-height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
}

/* Numerical filters */

.filters-numerical {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
  height: 40px;
  margin-bottom: 10px;
}

.filters-numberical-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
}

.numerical-condition-button {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 0.1em solid #3e65b3;
  border-radius: 0.38em;
  background-image: linear-gradient(#62a6ed, #4b78d6);
}

.numerical-condition-button--off {
  border: 0.1em solid #868686;
  border-radius: 0.38em;
  background-color: rgb(185, 185, 185);
  background-image: none;
}

.numerical-input {
  border-radius: 3px;
  border: solid 2px lightgray;
  width: 50px;
}

.numerical-slider {
  margin-left: 10px;
  margin-right: 20px;
}

/* Tooltip text */
.info-icon {
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 6px;
  color: rgb(106, 103, 103);
  cursor: default;
}
.info-icon .tooltiptext {
  visibility: hidden;
  text-align: center;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.info-icon:hover .tooltiptext {
  visibility: visible;
  right: 20px;
  bottom: 5px;
  background-color: lightgray;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 3px;
  border: solid 1px lightgray;
  font-size: 12px;
  animation: all 0.5s;
}

.button-visualization {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 0px;
}

/* Main time slider */
.main-slider-container {
  margin: 20px;
  width: calc(100% - 40px);
  height: 90px;
  border: solid 2px lightgray;
  border-radius: 3px;
}

.main-slider-item {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Time filter */
.button-swap-time-container {
  width: 20%;
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 30px;
  font-size: 12px;
  cursor: pointer;
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.button-swap-time {
  width: 100px;
  background-color: whitesmoke;
  height: calc(100% - 5px);
  border-radius: 3px;
  display: flex;
  align-items: center;
  border: solid 1px darkgray;
  margin-left: auto;
  justify-content: center;
  color: rgb(71, 71, 71);
  margin-right: 20px;
}

.button-swap-time:hover{
  border-width: 2px;
}

.time-filter-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.time-filter-title {
  width: 160%;
  min-height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: lightgray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
}


/* Time buttons */

.time-buttons-container{
  display: flex;
  align-items: center;
  height: 47px;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
}

.time-button{
  width: 100px;
  background-color: whitesmoke;
  height: 25px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  border: solid 1px #69b3a2;
  justify-content: center;
  color: rgb(71, 71, 71);
  cursor: pointer;
  animation: all 0.3s;
}

.time-button-active{
  background-color: #69b3a2;
  color: white;
  animation: all 0.3s;
}

rect:hover {
  fill: rgb(71, 71, 71)
}


.display-none{
  display: none;
}
