
* { margin:0; padding:0; box-sizing:border-box; }

.main-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.filters{
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    border-radius: 3px;
    border: solid 2px lightgray;
    height: 250px;
}

.basic-visualization{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    width: calc(100% - 40px);
    border-radius: 3px;
    border: solid 2px lightgray;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-visualization__duration-container{
    width: 50%;
    height: 100%;
    border-right: solid 2px lightgray;
}

.basic-visualization__customization-container{
    width: 10%;
    height: 100%;
    border-right: solid 2px lightgray;
}

.basic-visualization__severity-container{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filters-title-container{
    display: flex;
    align-items: center;
    background-color: lightgray;
    width: 100%;
    height: 30px;
}

.filters-apply-button-container{
    margin-top: 72px;
    display: flex;
    align-items: center;
    background-color: lightgray;
    width: 100%;
    height: 30px;
}

.filters-title{
    font-size: 16px;
    margin-left: 20px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 3px;
}

.filters-apply-button {
    margin-right: 10px;
    margin-left: auto;
    margin-top: 1px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
    display: inline-block;
    padding: 0.4em 1em;
    border: 0.1em solid #3e65b3;
    border-radius: 0.38em;
    background-image: linear-gradient(#62a6ed, #4b78d6);  
    cursor: pointer;
}
.filters-apply-button:hover {
    background-image: linear-gradient(rgb(26,175,238), rgb(4,132,217)); 
  }
  .filters-apply-button:active {
    background-image: linear-gradient(rgb(3,155,218), rgb(3,110,197)); 
  }



.filters-conditional-container{
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
  flex-wrap:wrap;
    align-items: center;
}

.filters-categorical-container{
    justify-content: baseline !important;
}

.filters-conditional-item{
    display: flex;
    align-items: center;
    margin-left: 15px;
}


.filter-label{
    margin-left: 5px;
    font-size: 14px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filter-type-container{
    display: flex;
    align-items: center;
}
.filter-type-title{
    font-size: 15px;
    width: 150px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}
.c-chart{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.separator{
    border-bottom: solid 1px lightgray;
    width: 100%;
}

.toolTip {
    position: relative;
    display: none;
    height: auto;
    background: transparent ;
    padding: 0px;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .labels{
      font-size: 10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: lightgray;
  }